.messageBox {
    background-color: #3f6b6b;
    margin: 2vh;
    margin-bottom: 1vh;

    border-color: #243d3d;
    border-style: solid;
}


.messageBody {
    border-color: #243d3d;
    border-bottom-style: double;
    display: block;

}

.deleteButton {
    background-color: #2C3333;
    border-style: none;
    margin-bottom: 5px;
    color: whitesmoke
}

.deleteButton:hover {
    cursor: pointer;
}

.deleteButton:active {
    cursor: wait;
}